h1 {
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

p {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}